* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/*div {
    position: absolute;
    overflow:hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    background: #606266;
}*/
/*下面是元素id*/
#body {
    height: 100%;
    /*线型渐变（背景）*/
    background: -webkit-linear-gradient(-135deg, #8CC5FF, #53A8FF);
}

#Header {
    margin: 0px;
    border: 1px solid #6066;
    background: #6066;
    height: 5%;
}

#main {
    border: 1px solid #00ffff;
    border-radius: 20px;
    background: #00ffff;
    height: 88.8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Footer {
    border: 1px solid #608;
    background: #608;
    height: 5%;
}

#main-element {
    height: 60%;
    border: 1px solid #fbfdff;
    border-radius: 20px;
    background: #fbfdff;
}

#main-element-img {
    #background: #000000;
    width: 50%;
    float: left;
    height: 100%;
}

#main-element-img img {
    width: 100%;
    height: 100%;
}

#app {
    width: 50%;
    height: 100%;
    float: right;
}
#app form{
    height: 100%;
}

/*表单标题*/
#app-text {
    color: #909399;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*表单输入框*/
.el-input {
    width: 60%;
    padding: 5px 0px;

}
/*表单框内的input*/
.el-input__inner {

}

/*表单div*/
#form-type {
    height: 60%;
    text-align: center;

}
#form-button button{
    width: 60%;
}

/*!*屏幕宽bai度小于640px时显du示红色字体*!
@media screen and (max-width: 640px) {
    !*匹配类*!
    .element {
        color: #ff0000;
        font-size: 32px;
    }


}

!*屏幕宽度小于480px时显示蓝色字体*!
@media screen and (max-width: 480px) {
    .element {
        color: #0000ff;
        font-size: 16px;
    }
}*/
